<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>Nom</h2>
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Repertoire" ng-model='vm.repertoire.nom'>
            </div>
            <button ng-click='vm.create()' class="btn btn-default">Add</button>
            <button ng-click='vm.delete(repertoire)' class="btn btn-danger">Delete</button>
        
        <h2>Prenom</h2>
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Repertoire" ng-model='vm.repertoire.prenom'>
            </div>
            <button ng-click='vm.create()' class="btn btn-default">Add</button>
            <button ng-click='vm.delete(repertoire)' class="btn btn-danger">Delete</button>
            </form>
        
        
        </form>
        
        <h2>Telephone</h2>
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Repertoire" ng-model='vm.repertoire.telephone'>
            </div>
            <button ng-click='vm.create()' class="btn btn-default">Add</button>
            <button ng-click='vm.delete(repertoire)' class="btn btn-danger">Delete</button>
        </form>

        
            </div>
        </div>
    </div>
</div>
